<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href='/static/styles/styels2.css'>
</head>

<title>blood donation</title>

<body>
  <div class="topnav">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <img src="https://c.top4top.net/p_10822od581.png" width="195px" height="115px" alt="">
  </div>
<div id="con">
  <h1>Give Blood</h1>
  <b class="lives">
   <P class="pl">Donating Blood Makes a Big Difference in the Lives of Others. </P></b>
  </div>
  <div class="im">
    <div class="image1">
      <a href="/blood/search"> <img src="http://www.m9c.net/uploads/15455485272.png" alt=""></a>
      <b class="pl">
      <p class="pl">Search Donors </p></b>
    </div>
    <div class="image2">
      <a href="/blood/new"> <img src="http://www.m9c.net/uploads/15455485271.png" alt=""></a>
      <b class="pl">
        <p class="pl">Donor</p>
      </b>
    </div>
    <div class="image2">
     <a href="/dashboard"> <img src="http://www.m9c.net/uploads/15455485991.png"width="200px" height="170px" alt=""></a>
     <b> <p class="pl">Dashboard</p></a></b>
    </div>


  </div>
  <footer>
  </footer>

</body>

</html>